<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
  <h2>Members area</h2>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
