<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
  <h2>LOGIN</h2>
  <h3>Please login below</h3>

  <form method="post" action="/users/register" enctype='multipart/form-data'>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <input type="submit" class="btn btn-default" name="submit", value="Login">
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
