<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">$TIMES</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li class= <%=(title=='Members'?'active':'') %> > <a href="/">HOME</a></li>
       <li class= <%=(title=='Register'?'active':'') %> > <a href="/users/register">Register</a></li>
       <li class= <%=(title=='Login'?'active':'') %> ><a href="/users/login">Log In</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="/users/logout">Log Out</a></li>
    </ul>
   </div><!--/.nav-collapse -->
 </div>
</nav>
