<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navbar %>
  <h2>REGISTER</h2>
  <h3>Please register using the form below</h3>
  <form method="post" action="/users/register" enctype='multipart/form-data'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name", placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email", placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username", placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password", placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" class="form-control" name="password2", placeholder="confirm Password">
    </div>
    <div class="form-group">
      <label for="profileimage">Profile Image</label>
      <input type="file" class="form-control" name="profileimage" >
    </div>
    <input type="submit" class="btn btn-default" name="submit", value="Register">
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
